/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________

COLOR

__________________*/

:root {
    --bluegrey: #141922;
    --grey: #282828;
    --fontgrey: #7d7f84;
}

/* ______________

TYPO

__________________*/

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh; 
    width: 100vw;
    background-color: var(--bluegrey);
}

/* ______________

VARIABLES

__________________*/

:root {
    --footerheight: 90px;
    --navwidthmobile: 50px;
    --navwidth: 250px;
}

/* ______________

UTILITIES CLASSES

__________________*/

.container {
    height: calc(100% - var(--footerheight));
    min-height: calc(21.875rem - var(--footerheight));
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-beetween {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.wrap {
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.gap-40  {
    gap: 2.5rem;
}

.gap-25  {
    gap: 1.5625rem;
}

.gap-20  {
    gap: 1.25rem;
}

.gap-15  {
    gap: .9375rem;
}

.gap-10  {
    gap: .625rem;
}

.gap-5  {
    gap: .3125rem;
}

.gap-2 {
    gap: .125rem;
}

.w-vol {
    width: 25%;
}

.w-dur {
    width: 37%;
}