/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________

COLOR

__________________*/

:root {
    --bluegrey: #141922;
    --grey: #282828;
}

/* ______________

TYPO

__________________*/

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    min-height: 21.875rem;
    min-width: fit-content;
}

/* ______________

VARIABLES

__________________*/

:root {
    --footerheight: 90px;
    --navwidthmobile: 50px;
    --navwidth: 250px;
}

/* ______________

UTILITIES CLASSES

__________________*/

.container {
    height: calc(100% - var(--footerheight));
    background-color: var(--bluegrey);
    min-height: calc(21.875rem - var(--footerheight));
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-beetween {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
