/* ______________

xs: <=552px (FIRST)

__________________*/


/* ______________

sm: <=640px

__________________*/

@media screen and (min-width: 640px) {
    nav {
        width: 250px;
        padding: .625rem 1.25rem;
    }

    nav .logo-box:first-child {
        display: none;
    }

    nav .logo-box:nth-child(2) {
        display: block;
    }

    nav ul li span {
        display: block;
    }
}

/* ______________

md: <=878px

__________________*/

/* ______________

lg: >878px

__________________*/