/* ______________

xs: <=552px (FIRST)

__________________*/


/* ______________

sm: <=640px

__________________*/

@media screen and (min-width: 552px) {
    nav {
        width: var(--navwidth);
        min-width: var(--navwidth);
        padding: .625rem 1.25rem;
    }

    nav .logo-box:first-child {
        display: none;
    }

    nav .logo-box:nth-child(2) {
        display: block;
    }

    nav ul li span {
        display: block;
    }

    nav #playlist {
        display: flex;
    }

    nav #profile li:first-child .icon-box {
        margin: 0;
    }
}

/* ______________

md: <=878px

__________________*/

@media screen and (min-width: 640px) {

    .thumbnail {
        width: 25%;
    }
}

/* ______________

lg: >878px

__________________*/

@media screen and (min-width: 878px) {

    .thumbnail {
        width: calc(100%/6);
    }
}