/* ______________

COMMON

__________________*/

img  {
    max-width: 100%;
    display: block;
}

.inline-list {
    list-style-type: none;
    display: flex;
}

/* ______________

NAV

__________________*/

nav {
    width: 50px;
    background-color: black;
    color: white;
}


/* ______________

MAIN

__________________*/

main {
    flex-grow: 1;
}

/* ______________

FOOTER

__________________*/

footer {
    height: 90px;
    background-color: var(--grey); 
    position:  absolute;
    bottom: 0;       
}