/* ______________

COMMON

__________________*/

img  {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a  {
    text-decoration: none;
    color: inherit;
}

.button {
    color: white;
    border: 2px solid white;
    border-radius: 1.5625rem;
    padding: .9375rem 2.1875rem;
    text-decoration: none;
    font-size: .875rem;
    text-align: center;
    width: fit-content;
    max-height: fit-content;
    display: inline-block;
} 

/* ______________

NAV

__________________*/

nav {
    width: var(--navwidthmobile);
    min-width: var(--navwidthmobile);
    background-color: black;
    color: white;
    padding: .625rem;
}

nav .flex-col {
    gap: .625rem;
}

/* hamburger */

nav li .icon-box  {
    width: 30px;
}

nav .logo-box {
    margin-bottom: .625rem;
}

nav .logo-box:nth-child(2) {
    display: none;
}



nav ul li span {
    display: none;
    font-size: .75rem;
}

/* playlist */

nav #playlist {
    display: none;
    overflow-y: auto;
    flex-grow: 1;
}

nav #playlist h3 {
    font-size: .875rem;
}

#add-playlist {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    text-align: center;
    line-height: 2.5rem;
    color: black;
    font-size: 1.875rem;
}

/* profile */

nav #profile li:nth-child(2) .icon-box{
    height: 1.875rem;
    border-radius: 100%;
    background-color: #808080;
    background-image: url(../img/profile.svg);
    object-fit:cover;
}

nav #profile li:first-child .icon-box {
    width: 15px;
    margin: 0 auto;
}


/* ______________

MAIN

__________________*/

main {
    flex-grow: 1;
    position: relative;
    height: calc(100% - var(--footerheight));
    overflow-y: auto;
}

main header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0, 0.5);
    padding: 25px;
    height: var(--footerheight);
    align-items: center;
}

.thumbnail {
    width: 50%;
    height: 100px;
    text-align: center;
}

/* ______________

FOOTER

__________________*/

footer {
    height: var(--footerheight);
    min-height: var(--footerheight);
    background-color: var(--grey); 
    min-width: fit-content;
    padding: .625rem;
}       

footer section {
    min-width: fit-content;
    gap: .9375rem;
}

footer #media-controls {
    flex-grow: 1;
}