/* ______________

COMMON

__________________*/

img  {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a  {
    text-decoration: none;
    color: inherit;
}

/* ______________

NAV

__________________*/

nav {
    width: 50px;
    background-color: black;
    color: white;
    padding: 0 .625rem;
}

nav .flex-col {
    gap: .625rem;
}

nav li img  {
    width: 30px;
}

nav .logo-box {
    margin-bottom: .625rem;
}

nav .logo-box:nth-child(2) {
    display: none;
}

nav ul li span {
    display: none;
}

nav .flex-row {
    align-items: center;
}

nav #playlist {
    display: none;
    overflow-y: auto;
    flex-grow: 1;
}



/* ______________

MAIN

__________________*/

main {
    flex-grow: 1;
}

/* ______________

FOOTER

__________________*/

footer {
    height: 90px;
    background-color: var(--grey); 
    position:  absolute;
    bottom: 0;       
}